
.fs-popup-text {
    color           : black;
}
 
#cal-popup, #fs-popup {
    background-color    : rgba(255,255,255,0.95);
    height              : 120vh;
    width               : 100vw;
    display             : flex;
    flex-direction      : column;
    text-align          : center;
    justify-content     : center;
    position            : absolute;
    left                : 50vw;
    top                 : 50vh;
    transform           : translate(-50%,-50%);
    visibility          : hidden;
    z-index             : -1;
}

