/* CSS STYLESHEET FOR ECOLABELS EXPERIMENT */
 
/* GLOBAL STYLING */
:root {
    --color1: #EDE7DC;
    --color2: #BDC3CB;
    --color3: #CCAFA5;
    --color4: #DCD2CC;
    --color5: #C0C0C0;
    --color6:  #6C6A61;
    --color7:  #2e4db4;
    --color7b:  #284196;
    --color8:  #C0C9CC;
    --color9: #F2F1F0;
    --color10: #171515;
    --background-title : var(--color6);
    --color-title: var(--color9);
    --background-btn: var(--color7);
    --background-btn-hover: var(--color7b);
    --color-btn: var(--color9);
    --background-input: var(--color9);
    --background-input-hover: var(--color1);
    --color-dot: var(--color5);
    --color-dot-hover: var(--color6);
    --color-font: var(--color10);
    --background-body: var(--color1);
    --background-slide: var(--color9);
}



* {
    box-sizing: border-box;
}

.button {
    font-family: 'Work Sans', sans-serif;
    font-size: 3vh;
    width: 8vw;
    height: 12vh;
    background-color: var(--background-btn);
    color: var(--color-btn);
    border: 0px;
    border-radius: 3px;
    line-height: 12vh;
    cursor: pointer;
    text-align: center;
    text-decoration: none;   
}


.debug-info {
    display: none;
}

/* CONTAINER DIVS */

.double-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-container {
    width: 70%;
}

.img-container {
    text-align: center;
    width: 30%;
}


.button-container {
    flex-basis: 50%;
    text-align: center;
}


.flex-questions {
    display: flex;
    flex-direction: column;
    background-color: var(--background-slide);
    align-items: center;
    flex-grow: 1;
}

.slide-item-end {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
    height: 70vh;
    width: 60vw;
    overflow: hidden;
    background-color: var(--background-slide);
    font-size: 1.25em;
    line-height: 1.5;
    margin-bottom: 2vh;
    text-align: left;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50vh;
    left: 50vw;
}

.slide-item-end .ContentContainer {
    flex-grow: 1;
    flex-direction: column;
    align-items: center;

}

.text-container-end {
    width: 100%;
}

/* SPECIFIC ELEMENTS */

/* INSTRUCTIONS APP */

/* PAGE - Introduction */ 

.consent-button {
    margin-top: 1.5em;
    justify-self: center;
}
/* PAGE - Instructions */ 

.task-img {
    width: 17vw;
    border: 1px solid #333;
    object-fit: contain;
}

.text-reveal {
    visibility: hidden;
}

.hover-button {
    height: 15vh;
    width: 15vh;
    margin-bottom: 5vh;
}

.flex-questions ul {
    width: 100%;
    align-items: flex-start;
}

li {
    margin-top: 0.5em;
    /* list-style: none; */
    text-align: left;
}

.slide2-description {
    font-size: 0.8em;
    text-align: center;
    font-weight: bold;
}
.flex-questions li:last-child {
    border-bottom: none;
    padding-top: 3vh;
    height: 15vh;
}

.inst-question {
    flex-basis: 37vw;
}

.answer-field {
    flex-basis: 20vw;
    padding-left: 3vw;
    padding-bottom: 1vh;
}    

.hint {
    visibility: hidden;
    background-color: rgb(250, 144, 144);
    border-radius: 2px;
    color:white;
    height: 4.5vh;
    width: 100%;
    margin-left: 1vh;
    text-align: center;
}

.dropdown {
    width: 15vw;
    border-width: 1px;
    border-color: black;
    font-size: inherit;
}

#submitAnswer {
    padding: 0 0.5em;
    width: auto;
    height: auto;
}

/* ECO TASK APP */
/*  PAGE - Practice rounds */
.practice-info {
    position: absolute;
    transform: translate(-50%,-50%);
    width: 50vw;
    height: 30vh;
    top: 50vh;
    left: 50vw;
    font-size: 1.5em;
    line-height: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*  PAGE - Infographics */
.img-container-info {
    flex-grow: 60;
}

.text-container-info {
    flex-grow: 40;
}

.info-title{
    text-align: center;
    font-size: 1.5em;
}

.img-info {
    width: 50vw;
    height: auto;
}

/* END PAGE */

#EndResults li {
    margin: 0.5em 0 ;
}

#EndFinal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

/* VT functionality */
.hidden {
    color:  var(--background-btn);
    background-color: var(--background-btn);
    border: 0;

  }
  
  .non-hidden {
    color: var(--color-font);
    background-color: var(--background-slide);
    border: 0;
  }
  
  .hidden .button-img{
    display: none;
  }
  
  .non-hidden .button-img{
    display: inline-flex;
  }

  .button-outcome {
    font-size: 1em;
  }

/*  AUTOCOMPLETE */
.autocomplete-items {
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;

    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

/* Tooltip */
.help-tip{
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: #BCDBEA;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}